<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="centered">
                    <h2>
                        Our mission
                    </h2>
                    <div>
                        To create the most adorable short links.
                    </div>
                    <br>
                    <h2>
                        About
                    </h2>
                    <div class="col-lg-6 col-lg-offset-3">
                        Since 2016, we all come to work every day because we want to shorten the longest links of the web.
                        Most people don't know how annoying long links could be.
                        We want to counteract this and create the most beautiful short links you have ever seen.
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2>
                        Leadership
                    </h2>
                    <div class="col-lg-4">
                        <div class="thumbnail about-thumbnail center-block">
                            <img src="https://pp.vk.me/c631525/v631525510/2987e/1G7B-J3aWPI.jpg" alt="...">
                            <div class="caption">
                                Lennart
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="thumbnail about-thumbnail center-block">
                            <img src="https://pp.vk.me/c631525/v631525510/29869/R6o4CQbSp3k.jpg" alt="...">
                            <div class="caption">
                                Tobias
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="thumbnail about-thumbnail center-block">
                            <img src="https://pp.vk.me/c631525/v631525510/2985b/Nta8RSNFZyE.jpg" alt="...">
                            <div class="caption">
                                Marcel
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="thumbnail about-thumbnail center-block">
                            <img src="https://pp.vk.me/c631525/v631525510/2984d/m3KXoCmPR1I.jpg" alt="...">
                            <div class="caption">
                                Kai
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="thumbnail about-thumbnail center-block">
                            <img src="https://pp.vk.me/c631525/v631525510/29870/8vnwMbV4ASw.jpg" alt="...">
                            <div class="caption">
                                Manuel
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
