<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <input type="text" class="form-control input-url" placeholder="Custom VIP Code">
        </div>
            <div class="btn btn-default u-full-width">generate</div>
            <div class="btn btn-primary">submit</div>
    </div>
</div>
</div>