<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">  
            <button class="btn btn-default" title="generate random" type="button"><i class="glyphicon glyphicon-random"></i></button>
             </span>
                <input type="text" class="form-control input-url" placeholder="Create Premium Code">
            </div>
        </div>
        <div class="btn btn-primary">submit</div>
    </div>
</div>