<div class="container">
    <h3 id="total"></h3>
</div>
<!-- Eingabefeld for Single Statistic-->
<!--<div class="col-md-4"></div>-->
<div class="container">
    <div class="col-md-12">
        <div class="input-group">
            <input id="shortdetail" type="text" class="form-control" placeholder="Enter a shortlink to get statistic">
            <span class="input-group-btn">
            <button id="shortdetailbtn" class="btn btn-primary" type="submit">Detailpage</button>
            </span>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="total"></h3>
    </div>
</div>
<div class="container allstats">
<div class="row">
    <div class="col-sm-12">
        <div id="container" style="height : 100000;"></div>
    </div>
    </div>
</div>
<script defer language="javascript" src="../js/allstatistics.js" type="text/javascript"></script>