<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 centered">
                <h2>
                    URL Shortener
                </h2>
                <h4>just paste your long ugly url and turn it into a beautiful short one.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 centered">
                <div class="input-group">
                    <input type="text" class="form-control input-url" placeholder="Paste a link to shorten it">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-shorten" type="submit">shorten</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 centered">
                <input type="text" class="form-control input-custom-link" placeholder="Paste your custom short link">
            </div>
        </div>
        <div class="row result">
        </div>
    </div>
</div>
<div class="stats well">
    Shortened Links: <span class="count"></span>
</div>
