<div class="input-group">
    <input type="text" class="form-control login-form" placeholder="Premium Code">
    <span class="input-group-btn">
        <div class="btn btn-primary btn-login" type="button"><i class="fa fa-sign-in" aria-hidden="true"></i></div>
    </span>
</div>