
    <div class="container">
        <h1>Link zu: <%=longlink%></h1> erreichbar über <a href="http://localhost:8001/l/<%=shortlink%>">http://localhost:8001/l/<%=shortlink%></a>
        <h3 id="total"></h3>
        <input id="shortlink" type="hidden" value=<%=shortlink%>> </div>
        <div class="container">
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div> 
