<!DOCTYPE html>
<html>
  <head>
    <title>Willkommen!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  </head>
  <body>
    <div>
        <h1><%= shortlink %> <%= longlink %></h1>
            <label for="ninput">Aufrufe <%= count %> </label>
    </div>
  </body>
</html>